.App {
  text-align: center;
  width: 99vw;
  height: auto;
  background-color: rgb(233, 255, 205);
  display: flex;
  flex-direction: column;
  font-size: 32px;
  overflow-y: scroll;
}

header{
  font-weight: bold;
  text-decoration: underline;
}

.general-inputs{
  display: flex;
  background-color: rgb(25, 186, 180);
  color:white;
  font-size: 22px;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.edu-inputs{
  display: flex;
  background-color: rgb(35, 67, 160);
  color:white;
  font-size: 22px;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.exp-inputs{
  display: flex;
  background-color: rgb(95, 42, 142);
  color:white;
  font-size: 22px;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.display-btn{
  font-size: 22px;
  width: 100%;
  background-color: #3c7532;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn{
  font-size: 22px;
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

 form{
  margin-bottom: 15px;
}

input{
  width: 17%;
  padding: 6px 20px;
  margin: 5px 0;
  border: 1px solid #999;
  border-radius: 4px;
}

label{
  padding:20px;
}

.pp{
  display: hidden;
}